* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header  {
 z-index: 12;
  position: absolute;
  top: 10%;
}
header h1 {
  margin: 10px 50px 30px 50px;
  text-align: center;
  font-size: 40px;
}
header p {
  font-size: 25px;
  text-align: center;
}

.pads {
  background: lightblue;
  width: 100%;
  display: flex;
}
.pads > div {
  height: 220px;
  width: 100px;
  flex: 1;
}
.pad1 {
  background: #60d394;
}
.pad2 {
  background: #d36060;
}
.pad3 {
  background: #c060d3;
}
.pad4 {
  background: #d3d160;
}
.pad5 {
  background: #606bd3;
}
.pad6 {
  background: #60c2d3;
}

.visual > div {
  position: absolute;
  bottom: 0%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: scale(3);
  z-index: -1;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }

  100% {
    bottom: 00%;
    left: 80%;
  }
}

.slants {
  width: 100%;
  height: 200px;
  z-index: -1000;
  position: absolute;
}

.slant {
  height: 12.3vh;
  width: 25%;
  background: #39B0BF;
  animation-name: beats1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.slant2 {
  height: 12.3vh;
  width: 25%;
  background: #ff8b00;
  animation-name: beats2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.slant3 {
  height: 12.3vh;
  width: 25%;
  background: #fffd00;
  animation-name: beats3;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.slant4 {
  height: 12.3vh;
  width: 25%;
  background: #3cff00;
  animation-name: beats4;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.slant5 {
  height: 12.3vh;
  width: 25%;
  background: #0020ff;
  animation-name: beats5;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.slant6 {
  height: 12.3vh;
  width: 25%;
  background: #db00ff;
  animation-name: beats6;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.slant7 {
  height: 12.3vh;
  width: 25%;
  background: #00f1d6;
  animation-name: beats7;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.slant8 {
  height: 12.3vh;
  width: 25%;
  background: #6100ff;
  animation-name: beats8;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes beats1 {
  25% {
    width: 10%;
    height: 30%;  }
  50% {
    width: 50%;
    height: 40%;  }
  75% {
    width: 20%;
    height: 30%;
  }
  100% {
    width: 65%;
    height: 40%;
  }
}

@keyframes beats2 {
  25% {
    width: 35%;
  }
  50% {
    width: 60%;
  }
  75% {
    width: 100%
  }
  100% {
    width: 25%;
  }

}

@keyframes beats3 {
  25% {
    width: 70%;
  }
  50% {
    width: 90%;
  }
  75% {
    width: 50%
  }
  100% {
    width: 25%;
  }

}

@keyframes beats4 {

  25% {
    width: 30%;
  }
  50% {
    width: 100%
  }
  75% {
    width: 40%
  }
  100% {
    width: 25%
  }


}

@keyframes beats5 {
  25% {
    width: 10%;
    height: 30%;  }
  50% {
    width: 50%;
    height: 40%;  }
  75% {
    width: 20%;
    height: 30%;
  }
  100% {
    width: 65%;
    height: 40%;
  }

}

@keyframes beats6 {
  25% {
    width: 100%;
    height: 10%;  }
  50% {
    width: 10%;
    height: 50%;  }
  75% {
    width: 60%;
    height: 20%;
  }
  100% {
    width: 30%;
    height: 65%;
  }

}

@keyframes beats7 {
  25% {
    width: 10%;
  }
  50% {
    width: 90%;
  }
  75% {
    width: 50%
  }
  100% {
    width: 25%;
  }

}

@keyframes beats8 {
  25% {
    width: 10%;
    height: 10%;  }
  50% {
    width: 50%;
    height: 50%;  }
  75% {
    width: 20%;
    height: 20%;
  }
  100% {
    width: 65%;
    height: 65%;
  }

}


.loading-beats > div {
  animation-name: beats;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.beats-1 {
  animation-delay: 0s;
}
.beats-2 {
  animation-delay: 0.2s;
}
.beats-3 {
  animation-delay: 0.4s;
}
.beats-4 {
  animation-delay: 0.6s;
}
.beats-5 {
  animation-delay: 0.8s;
}
.beats-6 {
  animation-delay: 1s;
}



@keyframes beats {
  0%,
  40% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(1.2, 1.3);
  }
}

/*.footer {*/
/*  position: fixed;*/
/*  bottom: 0;*/
/*  right: 0;*/
/*  top: 0;*/
/*  left: 0;*/
/*  z-index: -999;*/
/*  width: 100%;*/
/*  background: rgba(78,78,78,0.29);*/
/*}*/

